# Bun
node_modules
bun.lockb

# Build
dist
dist-ssr
*.local

# Coverage
coverage
.nyc_output

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src-tauri/target
